<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<center>
<button id="js-export" type="button" class="btn btn-primary">导出Excel</button><br>
<table border="1">
    <thead>
    <tr>
        <th>序号</th>
        <th>任务名称</th>
        <th>工期</th>
        <th>开始时间</th>
        <th>完成时间</th>
        <th>前置任务</th>
        <th>资源名称</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="excelList" type="com.pm.demo.entity.Row"*/-->
    <tr th:each="a:${excelList}" >
        <td th:text="${a.id}"></td>
        <td th:text="${a.pname}"></td>
        <td th:text="${a.gdate}"></td>
        <td th:text="${a.stime}"></td>
        <td th:text="${a.etime}"></td>
        <td th:text="${a.before}"></td>
        <td th:text="${a.zname}"></td>
    </tr>
    </tbody>
</table>
</center>
<script>
    $(function () {
        $('#js-export').click(function(){
            window.location.href="/export";
        });
    })
</script>

</body>
</html>